header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(30, 17, 37);
    
    
    

}
header h2 {
  color: beige;
  font-style: italic;
  
}

header h2 span{
    color: aqua;
}
ul{
    display: flex;
 
    padding-right: 20px;
    list-style-type: none;
    margin: 10px;
    padding-right: 30px;
    

}

ul a{
    color: aqua;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: block;

}
ul a:hover{
    color: rgb(247, 64, 207);
}

.hero{
    
    min-height: 100vh;
    background-color: rgb(56, 7, 56);
}

.text{
    text-align: center;
    font-size: 36px;
    color: beige;
    padding:50px;
}

.jersey-container {
    display: flex;
    flex-wrap: wrap;
    
    
}

.jersey {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    color: rgb(56, 7, 56);
    
}


.jersey img {
    max-width: 100%;
    height: auto;
}

.add-jersey-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.add-jersey-form label {
    display: block;
    font-size: 18px;
    color:rgb(31, 3, 31);
    margin: 10px 0 5px;
}

.add-jersey-form input {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 1em;
}

.add-jersey-form button {
    background-color: rgb(56, 7, 56);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    
}

.add-jersey-form button:hover {
    background-color: #555;
}


.hero-1{
    
    
    align-items: center;
    justify-content: center;
    color: rgb(49, 3, 49);
    text-align: center;
    font-style:italic;
    font-size: 18px;
    padding: 50px;


}
.contact-form-container{
    display: flex;
}



.contact-form-container{
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: rgb(56, 7, 56);
    text-align: center;
    border-radius: 20px;
    color: beige;
}
.left-section{
    padding-left: 20px;
}

.left-section img{
    border-radius: 20px;
    height: 300px;
    width: 500px;
    padding: 30px;
}
.social-icons{
    font-size: 30px;
    text-align: center;
    color: beige;
}
.reachout{
    text-align: center;
    color: beige;
}
.right-section{
    padding: 100px;
    align-items: center;
}

form {backdrop-filter: blur(5px);
    font-size: 20px;
    padding: 20px;
}
.form-group{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    align-items: center;

}
button {
    font-size: 15px;
    background-color: rgb(56, 7, 56);
    color: bisque;
    border-radius: 5px;

}
button:hover{
    background-color: white;
}

.footer-content{
    text-align: center;
    background-color: rgb(31, 3, 31);
    font-size: 18px;
    padding: 20px;
    color: beige;
}

